/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.vs/ATLA_Card_Game/v17/Browse.VC.db 
/.vs/ATLA_Card_Game/v17/ipch/1c0a6ff044f98ce9.ipch 
/.vs/ATLA_Card_Game/v17/ipch/35bdf41559efa040.ipch 
/Intermediate/Build/Win64/x64/ATLA_Card_GameEditor/Development/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.h.pch 
/.vs/ATLA_Card_Game/v17/Solution.VC.db 
ATLA_Card_Game/Intermediate/Build/Win64/x64/ATLA_Card_GameEditor/Development/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.h.pch
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/Solution.VC.db
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/ipch/35bdf41559efa040.ipch
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/ipch/1c0a6ff044f98ce9.ipch
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/Browse.VC.db
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/ipch/4ac257f93b06d953.ipch
ATLA_Card_Game/.vs/ATLA_Card_Game/v17/ipch/3ad769c63b4aa9d9.ipch
ATLA_Card_Game/Binaries/Win64/ATLA_Card_Game-Win64-Shipping.exe
ATLA_Card_Game/Binaries/Win64/ATLA_Card_Game-Win64-Shipping.pdb
ATLA_Card_Game/Intermediate/Build/Win64/x64/ATLA_Card_GameEditor/Development/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.h.dep.json
ATLA_Card_Game/Saved/StagedBuilds/Windows/ATLA_Card_Game/Content/Paks/ATLA_Card_Game-Windows.ucas
ATLA_Card_Game/Intermediate/Build/Win64/x64/ATLA_Card_Game/Shipping/Engine/SharedDefinitions.Engine.Cpp20.h
ATLA_Card_Game/Intermediate/Build/Win64/x64/ATLA_Card_Game/Shipping/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.cpp
ATLA_Card_Game/Intermediate/Build/Win64/x64/ATLA_Card_Game/Shipping/Engine/SharedPCH.Engine.Cpp20.InclOrderUnreal5_0.h.pch
